body {
  background-color: black;
  color: white;
  font-size: 20px;

}

h1 {
  margin-left: 20px;
}

body {
  text-align: center;
}

.separator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.separator_video {
  position: relative;
  opacity: 0.4;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
}
