.contents{
  overflow: scroll;
  position: relative;
  top: -70px;
}

body {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  position: relative;
  top: 0;
  bottom: 0;

}

p{
  margin-left: 200px;
  margin-right: 200px;
}

h1 {
  margin-left: 20px;
}

.title_name{
  position: relative;
  top: 200px;

}

.sound_bars {
  position: relative;
  top: -75px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
.sound_bars_video {
  position: relative;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
}

.copyright{
  font-size: 10px;

}
